header {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 40px;
    background-color: blue;
    color: white;
    text-align: center;
    line-height: 40px;
    font-size: 30px;
    left: 0px;
}
footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 30px;
    background-color: blue;
    color: white;
    text-align: center;
    line-height: 30px;
    font-size: 15px;
    left: 0px;
}
nav {
    position: fixed;
    top: 40px;
    width: 100%;
    height: 20px;
    background-color: lightblue;
    color: white;
    line-height: 20px;
    padding-left: 20px;
    left: 0px;
}
section {
    position: fixed;
    top: 60px;
    width: 100%;
    height: 100%;
    background-color: lightgray;
    left: 0px;
}